.item {
  // flex: 0 0 17.9vw;
  flex: 0 0 calc((100vw * 0.90)/5);
  transition: transform 300ms ease 100ms, z-index 300ms;
  margin: 0 0.1rem;
  position: relative;

  img {
    height: 100%;
    width: 100%;
    vertical-align: top;
  }
}

@media(max-width: 1024px){
  .item{
    flex: 0 0 22.3vw;
    // flex: 0 0 calc((100vw * 0.92 - 6.4px)/4);
  }
}
@media(max-width: 520px){
  .item{
    flex: 0 0 29vw;
  }
}

