.wx-item-wrapper{
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding: 5rem;
  opacity: 0;
  /* transition: all 1500ms ease 0ms; */
}

.wx-item-wrapper.active{
  opacity: 1;
  transition: all 1500ms ease 0ms;
}

.wx-item-hero{
  min-height: 100vh;
  width: 100%;
  background-image: url("/src/assets/images/hko01.png");
  background-size:contain;
  background-position: center;
  position: relative;
  background-repeat: no-repeat;
  transition: all 300ms ease 100ms;
}

.wx-item-number{
  position: absolute;
  top:0;
  right: 0;
  font-size: 5rem;
  line-height: 5.2rem;
  padding: 0.5rem;
  color: white;
  background-color: orange;
}
.wx-item-wrapper.even .wx-item-number{
  left: 0;
  right:unset;
}

.wx-item-container{
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  min-height: 100vh;
  background: rgba(20, 20, 20, 0.5);
  backdrop-filter: blur(10px);
}
.wx-item-wrapper.even .wx-item-container{
  left: 0;
  right:unset;
}

.wx-item-info{
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 0;
  color: white;
  transform: translateY(-50%);
}

.wx-item-info h1{
  letter-spacing: 5px;
  line-height: 2rem;
}

.wx-item-info p{
  margin: 2rem 4rem;
  text-align: justify;
}

.wx-item-link{
  font-weight: 500;
  padding: 0.5rem 2rem;
  border: 1px solid orange;
  color: orange
}

.wx-item-link:hover{
  background-color: orange;
  color: rgba(20, 20, 20, 1);
}

.wx-item-slider{
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 1rem;
  left: 3rem;
}

.wx-item-arrow{
  width: 2rem;
  cursor: pointer;
}

.wx-item-preview{
  display: flex;
  align-items: center;
  margin: 0 3rem;
}

.wx-item-thumbnail{
  width: 5rem;
  margin: 0 1rem;
  opacity: 0.6;
}
.wx-item-thumbnail.active{
  display: block;
  border: 3px solid #fff;
  width: 6rem;
  opacity: 1;
}

@media only screen and (max-width: 1084px) {
  .wx-item-wrapper{
    min-height: 50vh;
    padding: 2rem;
  }
  .wx-item-hero{
    min-height: 50vh;
  }
  .wx-item-container{
    width: 100%;
    min-height: 50vh;
  }
}
