.my-slider-title {
  position: relative;
  top: 1.5vw;
  padding: 0 5vw;
  text-align: left;
}

.my-slider-wrapper {
  position: relative;
  overflow: hidden;
  padding: 3vw 0;
  --slider-total: 5;
  --slider-scale: 1.3;
  --slider-gap: 0.5vw;
  --slider-padding: 5vw;
}

.my-slider-container {
  display: flex;
  padding: 0 calc(var(--slider-padding));
  transition: all 300ms ease 100ms;
}

.my-slider-item {
  flex: 0 0
    calc(
      (((100vw - (var(--slider-padding) * 2)) - (var(--slider-gap) * var(--slider-total)) - (var(--slider-gap))) / var(--slider-total))
        
    );
  margin: 0 var(--slider-gap) 0 0;
  transition: all 150ms ease 0ms, border 0ms 150ms;
  cursor: pointer;
  border-radius: 0.2rem;
}

.my-slider-item:hover {
  transform: scale(var(--slider-scale));
  /* border: 2px solid var(--main-white-text-color); */
  box-shadow: 0 0 5px 5px var(--main-white-text-color);
  z-index: 5;
  transition: all 200ms ease 100ms, border 0ms 300ms;
}
.my-slider-item:nth-child(5n + 1):hover {
  transform: scale(var(--slider-scale));
  transform-origin: center left;
}
.my-slider-item:nth-child(5n):hover {
  transform: scale(var(--slider-scale));
  transform-origin: center right;
}

.my-slider-item img {
  height: 100%;
  width: 100%;
  vertical-align: top;
  border-radius: 0.2rem;
}

.my-slider-btn {
  position: absolute;
  top: 0;
  bottom: 0;
  width: calc(var(--slider-padding) - (var(--slider-gap)));
  background: rgba(0, 0, 0, 0.5);
  border: 0;
  outline: 0;
  padding: 0;
  margin: 3vw 0;
  z-index: 4;
  cursor: pointer;
  opacity: 1;
}

/* .my-slider-container:hover ~ .my-slider-btn, */
.my-slider-btn:hover
{
  opacity: 1;
}

.my-slider-btn span{
  width: 1rem;
    color: #fff;
    display: block;
    margin: 0 auto;
    display: flex;
    text-align: center;
}

.my-slider-btn.prev{
  left: 0;
}
.my-slider-btn.prev span{
  transform: rotateZ(90deg);
}
.my-slider-btn.next{
  right: 0;
}
.my-slider-btn.next span{
  transform: rotateZ(-90deg);
}


.my-slider-desc{
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  transition: all 0ms ease;
}

.my-slider-item:hover .my-slider-desc{
  display: flex;
  justify-content: center;
  opacity: 1;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: all 200ms ease 100ms;
}



@media only screen and (max-width: 1084px) {
  .my-slider-wrapper {
    --slider-total: 4;
    --slider-scale: 1.1;
    --slider-gap: 1vw;
    --slider-padding: 6vw;
  }
  .my-slider-item:nth-child(4n + 1):hover {
    transform: scale(var(--slider-scale));
    transform-origin: center left;
  }
  .my-slider-item:nth-child(4n):hover {
    transform: scale(var(--slider-scale));
    transform-origin: center right;
  }
  .my-slider-btn {
    opacity: 1;
  }
}

@media only screen and (max-width: 784px) {
  .my-slider-wrapper {
    margin-bottom: 2vw;
    --slider-total: 3;
    --slider-scale: 1;
    --slider-gap: 1vw;
    --slider-padding: 7vw;
  }
  .my-slider-item:nth-child(3n + 1):hover {
    transform: scale(var(--slider-scale));
    transform-origin: center left;
  }
  .my-slider-item:nth-child(3n):hover {
    transform: scale(var(--slider-scale));
    transform-origin: center right;
  }
  .my-slider-btn {
    opacity: 1;
  }
}

@media only screen and (max-width: 500px) {
  .my-slider-wrapper {
    margin-top: 2vw;
    --slider-total: 2;
    --slider-scale: 1;
    --slider-gap: 1vw;
    --slider-padding: 8vw;
  }
  .my-slider-item:nth-child(2n + 1):hover {
    transform: scale(var(--slider-scale));
    transform-origin: center left;
  }
  .my-slider-item:nth-child(2n):hover {
    transform: scale(var(--slider-scale));
    transform-origin: center right;
  }
  .my-slider-btn {
    opacity: 1;
  }
}
