.center-wrapper {
  background: var(--main-black-text-color);
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  text-align: center;
  top: 0;
  z-index: 0;
}

.container {
  margin: 2em 0;
  max-width: 80%;
}

.container > div {
  margin: 0 2vw 0 0;
}

.title {
  color: var(--main-white-text-color);
  font-size: 3.5vw;
  font-weight: unset;
  width: 100%;
}

.edit-btn {
  background-color: transparent;
  border: 1px solid grey;
  color: grey;
  cursor: pointer;
  display: block;
  font-size: 1.2vw;
  letter-spacing: 2px;
  margin: 2em 0 1em;
  padding: 0.5em 1.5em;
}

.edit-btn:hover{
  color: var(--main-white-text-color);
  border-color: var(--main-white-text-color);
}

@media(max-width: 800px){
  .title{
    font-size: 30px;
  }

  .edit-btn {
    font-size: 13px;
  }

}